
.textcenter {
    text-align:center;
}

.imagecenter {
    display: block;   
    margin-left: auto;   
    margin-right: auto;
}

.imageicon {
    height: 30px
}

table {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:12px;
}

