{# Base template for both logged in and non-logged in users #}
<!DOCTYPE HTML>
<html>
  <head>
    <title> Orbital Partner Matching</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
  </head>
  <body>
    <div class="container-fluid">  
      <div class="row-fluid">  
	      <h1 class = "textcenter" > Orbital Partner Matching</h1>
      </div>
      <!-- Main navigation -->
      {% if user_mail is defined %}
      {# Logged in #}
      <div class = "navbar">
	<div class = "navbar-inner">
	  <ul class = "nav">
	    <li> <a href="{{ home }}/nus"> Home </a></li>
	    <li> <a href="{{ home }}/nuspolicy"> Privacy Policy</a></li>
	    <li> <a href="{{ home }}/editprofile"> Profile </a></li>
	    <li> <a href="{{ home }}/search"> Search </a></li>
	    <li> <a href="{{ logout }}"> Logout </a></li>
	  </ul>
	</div> 
      </div>
      {% else %}
      {# Not logged in #}
      <div class = "navbar">
	<div class = "navbar-inner">
	  <ul class = "nav">
	    <li> <a href="{{ home }}"> Home </a></li>
	    <li> <a href="{{ home }}/policy"> Privacy Policy </a></li>
	    <li> <a href="{{ home }}/login"> Login </a></li>
	  </ul>
	</div> 
      </div>
      {% endif %}
      <div>
	{% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
