<html>
	<head>
		<title> Crew Finder </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
	</head>
	<body>
		<div class="container-fluid">  
			<div class="row-fluid">
				<img class="logo" src="../images/logo.png">
			</div>
			<!-- Main navigation -->
			<div class = "navbar">
				<div class = "navbar-inner">
					<ul class = "nav">				
						<li> <a href="/"> Main Page </a></li>						
						<li> <a href="/signin"> Sign in </a></li>
					</ul>
				</div> 
			</div>
			<div class = "span 3">
				
				<div class = "breadcrumb"
				<p>The App suggests potential crews based on location, organization, indicated interests, likes, hobby, skill level, etc…</p>				
				<p>
					Users can
					<ul>
						<li>form teams/groups and choose who to invite.</li>
						<li>create events/tournaments and invite teams.</li>
						<li>join other teams/groups.</li>
						<li>communicate with potential teammates.</li>
					</ul>
				</p>
				</div>
			</div>
		</div>    
	</body>
</html>
