<html>
<head>
  <title> Crew Finder </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
  <style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 50%; width: 50% }
  </style>
</head>

<body>
  <div class="container-fluid">  
    <div class="row-fluid">
      <img class="logo" src="../images/logo.png">
    </div>
    <!-- Main navigation -->      
    <div class = "navbar">
      <div class = "navbar-inner">
        <ul class = "nav">
          <li> <a href="/home"> Home </a></li>
          <li> <a href="/newprofile"> Edit Profile </a></li>
          <li> <a href="/teams"> Teams </a></li>
          <li class = "active"> <a href="/newevent"> New Event </a></li> 
          <li> <a href="/logout"> Sign out </a></li>
        </ul>
      </div> 
    </div>
    <span class="label label-info">Hi {{name}}</span> 


    <form class="form-horizontal" action = "makeevent" method = "post">
      <fieldset>
        <legend><b> New Event Details </b></legend>        
        <div class="control-group">
          <label class="control-label"> <b>Event Name:</b> </label>
          <div class="controls">
            <input type = "text" name = "eventname" id = "eventname">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"> <b>Time:</b> </label>
          <div class="controls">
            <input type = "text" name="month" id="month" placeholder="Month">
            <input type = "text" name = "day" id = "day" placeholder="Day">
            <input type = "text" name = "hour" id = "hour" placeholder="Hour">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"> <b>Description:</b> </label>  
          <div class="controls">
            <input type = "text" name = "descript" id = "description">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"> <b>Location:</b> </label>
          <div class="controls">
            <input type = "hidden" name = "lat" id = "in_lat" > 
            <input type = "hidden" name = "lng" id = "in_lng">
            <div id = "demo">
            </div>  
            <div id = "map-canvas"> 
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button class = "btn" type = "submit" value = "Submit"> Submit </button>
          </div>
        </div>
        
      </fieldset>
    </form>


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuyc3ZQDA3Yah7i5r_i36oi1uQH5KzvkU&sensor=true">
    </script>
    <script type="text/javascript">

    //script partially taken from w3schools
    // and google maps api 

    var x; 
    var pos_lat;
    var pos_lng;
    var map;
    var marker;
    var form_lat;
    var form_lng;

    // use html5 geolocation to get the user's current location
    // and run showPosition if the position can be obtained
    function getLocation()
    {
      x = document.getElementById("demo");
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      }
      else {
        x.innerHTML="Geolocation is not supported by this browser.";
      }
    }

    // display on the screen the coordinates
    function showPosition(position)
    {
      pos_lat = position.coords.latitude;
      pos_lng = position.coords.longitude;

      x.innerHTML="Latitude: " + position.coords.latitude + 
      "<br>Longitude: " + position.coords.longitude; 

      form_lat = document.getElementById('in_lat');
      form_lng = document.getElementById('in_lng');

      // set default values to be the user's current position
      form_lat.value = pos_lat;
      form_lng.value = pos_lng;
      initialize();
    }

    // initialize the map and the map marker
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(pos_lat, pos_lng),
        zoom: 18,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

      // make a new marker and attach it at the user's location
      marker = new google.maps.Marker({
        position: mapOptions.center,
        map: map
      });


      // allows user to move marker
      google.maps.event.addListener(map, 'click', function(event) {
        placeMarker(event.latLng);
      });

    }

    // change the marker's position
    function placeMarker(location) {
      marker.setPosition(location)
      console.log("here: " + location + "  markerposition : " + marker.position );
      form_lat.value = location.lat();
      form_lng.value = location.lng();
      // map.setCenter(location);
    }
    
    window.onload = getLocation();

    </script>
  </div>
</body>
</html>
