{% extends "base0.html" %}
{% block content %}  
<div class="row-fluid">
  <div class="span9">
    <p> By participating in the partner matching scheme, the data you provide to the system will be made available for viewing by other students who also register for matching. The system is restricted for use to NUS students. </p>
    
    <p> You may de-register at any time, removing your data from the system. </p>
    
    <p> All student data will be removed 2 weeks after Lift-off. </p>
  </div>
  <div class="span3">
    <img title = "Atlantis and Columbia. Image from NASA." src="../images/pair.jpg">
  </div>
</div>
{% endblock %}




